html{
    margin: 20px;
    background-color: #2bb8ca;
}

body{
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light";
    font-weight: 300;
    color: rgb(228, 222, 222);
}

h1{
    font-size: 50px;
}

p{
    font-size: 20px;
}